@media only screen and (max-width: 320px) {
    *,
    body,
    html {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    }
    :root {
    --color-key: #000000;
    --color-background: #2091f9;
    --color-btn: white;
    }
    a {
    text-decoration: none;
    }
    header {
        height: 89vh;
    }
    .content-header {
        top: 45%;
    }
    .logo img {
        width: 155px;
    }
    .menu {
        display: none;
    }
    .social {
        display: none;
    }
    .title-header {
        font-size: 1.3em;
        color: white;
        font-weight: 200;
    }
    .detail-header {
        font-size: .8em;
        margin: 20px 0;
        
    }
    .content-header a {
        font-size: .5em;
        padding: 10px 4em;
    }
    .feature h1 {
        font-size: 2em;
        margin: 0 0 20px 0;
        font-weight: 200;
    }
    .feature p {
        font-size: .8em;
        width: 80%;
    }
    .wrap-type {
        display: flex;
        flex-wrap: wrap-reverse;
    }
    .sometype {
        display: flex;
        flex-wrap: wrap;
    }
    .type {
        width: 60%;
    }
    .type p {
        line-height: 17px;
        color: #565656;
    }
    .type h3 {
        margin: 10px 0;
        font-size: 1.1em;
    }
    .type img {
        margin: 20px 0 0 0;
        width: 45px;
        height: 45px;
    }
    .banner img {
        margin: 20px 0 0 0;
    }
    .feature {
        padding: 35px 0 0 0;
    }
    .latest {
        display: flex;
        flex-wrap: wrap;
    }
    .latest-l {
    }
    .latest-r {
    }
}
